<h2>Sign up</h2>

<div id="page_wrapper">
	
	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <br>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <br>
    <%= f.input :password_confirmation, required: true %>
  </div>
	<br>
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

</div>

