
<div class="comment clearfix">

	<div class="content">
		<div class="gravatar"><%= image_tag comment.user.gravatar_url%></div>
		<p class="comment_author"><%= comment.user.email %></p>
		<p class="comment_date"> <%=time_ago_in_words(comment.created_at)%></p>
		<p class="comment_content"> <%= comment.comment %></p>

	</div>

	<div class="buttons">
		<%= link_to "Editar", edit_post_comment_path(comment.post, comment) %>
		<%= link_to "Eliminar", [comment.post, comment], method: :delete, data: { confirm: "Estas seguro de eliminar esto?" } %>	
	</div>

</div>	

