<h1>Listado de Posts</h1>

<%= paginate @posts%>

<br><br><br>

<div id="posts">
	<% @posts.each do |post| %>
	<div class="post">
		<h2 class="title"><%= link_to post.title, post%></h2>
		<p class="date">Publicado el <%= post.created_at.strftime("%d, %B, %Y") %> por <%= post.user.email %></p>
		<%if post.comments.count == 1%>
		<p class="key_comments"><%= post.comments.count %> Comentario </p>
		<%else%>
		<p class="key_comments"><%= post.comments.count %> Comentarios </p>
		<%end%>
	</div>
	<% end %>	
</div>

