<div id="post_content">

	<h1 class="title">
		<%= @post.title %>
	</h1>

	<p class="date">
		Creado hace <%=time_ago_in_words(@post.created_at)%>
	</p>

	<p class="body">
		<%= @post.content %>
	</p>

	<div id="comments">

		<h2><%= @post.comments.count%> Comentarios <br><br> <%=render @post.comments%></h2>

		<h3>Responder al tema <br><br> <%=render 'comments/form'%> </h3>
		
		<br>
		<hr>

		<div class="button">
			<%= link_to "Editar", edit_post_path(@post)%>
			<%= link_to "Borrar", post_path(@post), method: :delete, data: {confirm: "Estas seguro de eliminar esto?"} %>
			<%= link_to "Inicio", root_path %>

		</div>
		<br><br>

	</div>
	
</div>

