/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{

	font-family: 'Lato', sans-serif;
	background: #EDEFF0;
}

.wrapper {
	width:60%;
	max-width: 1140px;
	margin:0 auto;	
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear: both;
}

.main_header {
	width:100%;
	margin:0 auto;	
	background: white;
	#logo{
		float: left;
		a {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: -1px;
			font-size: 1.2 rem;
			color: #397CAC;
			text-decoration: none;
		  }
	}
	#button{
		float: right;
		a{
			line-height: 60px;
			background: #397CAC;
			padding: .5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
		}
	}
}

#posts{
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post{
		margin: 1em 0;
		padding: 1em 0;
		border-bottom: 1px solid #D1d1d1;
		
		.title{
			margin: 0;
			a{
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.date{
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
		.key_comments{
			background: red;
	    border: 1px;
	    padding-left: 0.3rem;
	    padding-top: 0.1rem;
	    padding-bottom: 0.1rem;
	    font-size: 0.6rem;
	    color: white;
	    border-radius: 1.5rem;
	    width: 10%;			
		}
	}
}

#post_content{
	background: white;
	padding: 2rem 5%;
	border-radius: .5rem;
	
	h1{
		font-weight: 100;
		font-size: 2rem;
		color: #397CAC;
		margin-top: 0;
	}
	
	p{
		color: #B2BAC2;
		font-size: 0.9rem;
		font-weight: 100;
		line-height: 1.5;
	}
	
	#comments{
		.comment{
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 1rem;
			margin-bottom: 1rem;

			.content{
				width: 75%;
				float:left;
			}

			.buttons{
				width: 25%;
				float: left;
				font-size: .8rem;
				text-align: right;
				padding-top: 1.5rem;

				a {
					color: #397CAC;
					border: 1px solid #397CAC;
					padding: .5rem 1rem;
					border-radius: 0.2rem;
					text-decoration: none;
					margin-right: 2%;

				}
			}
			
			.gravatar{
				float:left;
				width: 75px;
			  height: 75px;
			  margin-right: 10px;
			  img{border-radius: 50% !important;}
			}

			.comment_content {
				margin: 0;
				padding: 0;
				margin-left: 90px;
			}
			.comment_date{
			margin-top: 0px;
			
			}
			.comment_author {
				color: #397CAC;
				margin-top: .5rem;
				font-size: 0.6rem;
				font-weight: 700;
				margin-bottom: 0px !important;
			}
		}	

		input[type="submit"] {
			background: #397CAC;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5rem 1rem;
			border-radius: .2rem;
			width: 20%;
		}

		textarea {
			width: 100%;
			min-height: 200px;
			border: 1px solid #d1d1d1;
			border-radius: .2rem;
			margin: 1rem 0;
		}
		.button{
			width: 70%;
			float: left;
			font-size: .8rem;
			text-align: right;
			padding-top: 1.5rem;

			a {
				color: #397CAC;
				border: 1px solid #397CAC;
				padding: .5rem 1rem;
				border-radius: 0.2rem;
				text-decoration: none;
				margin-right: 2%;

			}
		}
	}
}


#page_wrapper{
	margin-left: 130px;
	
	input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 90%;
    border: 1px solid #397CAC;
    border-radius: .35rem;
    margin-top: 10px;
    padding: .5rem 1rem;
    line-height: 1.75;
  }
  
  input[type="text"] {
    height: 35px;
  }
  
  textarea {
    min-height: 180px;
  }

  input[type="submit"], a{
    outline: none;
    text-decoration: none;
    background: transparent;
    border: 1px solid #d6dce0;
    padding: .5em 1.5em;
    font-size: 1.1em;
    border-radius: 1.5em;
    color: #8997A0;
    margin-left: .5em;
    &:hover {
      border: 1px solid #397CAC;
      color: #397CAC;
   	}
	}

  h1 {
    font-weight: 500;
  }

}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    color: #397CAC;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

