<!DOCTYPE html>
<html>
<head>
  <title>Foro</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
	<link href="	https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet" type='text/css'>
  
</head>
<body>
<header class="main_header clearfix">

<div class="wrapper">
	<div id="logo">
		<p><%= link_to "Foro de Consultas", root_path %></p>
	</div>
	<%if user_signed_in?%> 
		<div id="button">
			<%= link_to "Nueva Publicación", new_post_path(@post) %>
		</div>	
	<%else%>
	<div id="button">
		<%= link_to "Registrese", new_user_registration_path %>
		<%= link_to "Iniciar", new_user_session_path %>
	</div>	
	<%end%>
</div>
	
</header>



<div class="wrapper">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>	
</div>

<div class="wrapper">
	<%= yield %>	
</div>

</body>
</html>
